@page "/learnings"
<PageTitle>Employee Information</PageTitle>
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Buttons
@using global::Employee.DataModel.Models;
@inject NavigationManager navManager

<div hidden=@HideLearningControls>
    <h1>Add Learning Details</h1>
    <div class="row">
        <div class="col-md-6 mt-2">
            <InputText @bind-Value="learning.Name" class="form-control" Placeholder="Enter learning Technology Name"></InputText>
        </div>
        <div class="col-md-6 mt-2">
            <InputText @bind-Value="learning.Path" class="form-control" Placeholder="Enter path"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-2">
            <InputNumber @bind-Value="learning.HoursOfLearning" class="form-control" Placeholder="Learning Hours"></InputNumber>
        </div>
    </div>
    <div style="margin-top:10px;" id="postBtnCenter" class="row">
        <div class="col-md-1">
            <SfButton OnClick="PostLearningDetails" id="postID"  Content="Create"></SfButton>
        </div>
        <div class="col-md-1" style="width:78%">
            <SfButton OnClick="ClearPostLearningDetails" id="clearPostLearning" Content="Cancel"></SfButton>
        </div>
    </div>
</div>
<div class="col-md-3" hidden="@HideAdd" id="sflearningID">
    <h2 style="margin-top: 7px;">Learning&nbsp;Details</h2>
    <SfButton OnClick="AddLearning" id="sfAddbuttonID" Content="Add Learning"></SfButton>
    
</div>
<div class="mt-2">
    @if (learningList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <SfGrid TItem="EmployeeModel" hidden="@HideGrid" DataSource="@learningList">
            <GridColumns>
                <GridColumn Field="@nameof(learning.Name)" HeaderText="Name" TextAlign="TextAlign.Left" Width="100"></GridColumn>
                <GridColumn Field="@nameof(learning.Path)" HeaderText="Path" TextAlign="TextAlign.Center" Width="100">
                    <Template>
                        @{
                            var learningList = (context as Learning);
                            <a target="_blank" href="@learningList.Path">@learningList.Path</a>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(learning.HoursOfLearning)" HeaderText="Learning Hours" TextAlign="TextAlign.Center" Width="100"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
</div>

