@page "/certifications"
@using Employee_Report.Model.Models
@inject NavigationManager navManager;

@if (certifications == null)
{
    <p><em>Loading... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h5>Certifications</h5>
        @if (IsHidden)
        {
            <SfButton id="sfBtn" OnClick="Save">Add Certification</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "hidden" : "show")">
        <EditForm Model="@certifications" OnValidSubmit="SaveEntry">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <SfTextBox CssClass="e-outline custom-size" Placeholder="Name" FloatLabelType="@FloatLabelType.Auto" Type="InputType.Text" class="form-control"
                               @bind-Value="certifications.Name" />
                        <ValidationMessage For="@(() => certifications.Name)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">ValidFrom</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="certifications.ValidFrom" />
                        <ValidationMessage For="@(() => certifications.ValidFrom)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">ValidTill</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="certifications.ValidTill" />
                        <ValidationMessage For="@(() => certifications.ValidTill)" />
                    </div>
                </div>
                <div style="margin-top:10px;margin-left:46%;">
                    <div class="col-md-3" style="display:flex;padding:5px">
                        <SfButton @onclick="@Save" type="submit" class="btnAdd" style="background-color: midnightblue; color: white;" Content="Add"></SfButton>
                        <SfButton @onclick="@Cancel" type="button" class="btnCancel" style="background-color: orangered; color: white;" Content="Cancel"></SfButton>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </EditForm>
    </div>
    <SfGrid DataSource="@certificationslist">
        <GridColumns>
            <GridColumn Field="@nameof(Certifications.Name)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
            <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(Certifications.ValidFrom)" HeaderText="ValidFrom" TextAlign="TextAlign.Center" Width="150"></GridColumn>
            <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(Certifications.ValidTill)" HeaderText="ValidTill" TextAlign="TextAlign.Center" Width="150"></GridColumn>
        </GridColumns>
    </SfGrid>
}