@page "/employeeProjectDetails"
@using Employee_Report.API.Entities;
@inject NavigationManager navManager;

@if (employeeProject == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Employee Project</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddProject" OnClick="AddClass">Add Project</SfButton>
        }
    </div>
     <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@employeeProject" OnValidSubmit="addProject">
            <DataAnnotationsValidator/>
             <div class="form-control">
                <div class="row">
                 <div class="col-md-6">
                        <label>ProjectId</label>
                     <SfNumericTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeProject.ProjectId" />
                        <ValidationMessage For="@(() => employeeProject.ProjectId)" />
                 </div>
                    <div class="col-md-6">
                        <label>EmpId</label>
                        <SfNumericTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeProject.EmpId" />
                        <ValidationMessage For="@(() => employeeProject.EmpId)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline">StartDate</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeeProject.StartDate" />
                        <ValidationMessage For="@(() => employeeProject.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline">EndDate</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeeProject.EndDate" />
                        <ValidationMessage For="@(() => employeeProject.EndDate)" />
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label>ReportingTo</label>
                            <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeProject.ReportingTo" />
                            <ValidationMessage For="@(() => employeeProject.ReportingTo)" />
                        </div>
                        <div class="col-md-6">
                            <label>RoleId</label>
                            <SfNumericTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeProject.RoleId" />
                            <ValidationMessage For="@(() => employeeProject.RoleId)" />
                        </div>
                     </div>
                </div>
                <div id="SfBtns">
                    <div class="col-md-3">
                        <SfButton @onclick="@AddClass" type="submit" class="btnAdd" style="background-color: midnightblue; color: white;" Content="Add"></SfButton>
                       @* <SfButton @onclick="@AddClass" type="submit" class="btnCancel" Content="Cancel"></SfButton>*@
                   </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </EditForm>
     </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@employee">
            <GridColumns>
                <GridColumn Field=@nameof(EmployeeProjectEntity.Name) HeaderText="Name" TextAlign="TextAlign.Center" Width="120">

                </GridColumn>
                <GridColumn Field=@nameof(EmployeeProjectEntity.Role) HeaderText="Role" TextAlign="TextAlign.Center" Width="150">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeeProjectEntity.StartDate) HeaderText="StartDate" TextAlign="TextAlign.Center" Width="130">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeeProjectEntity.EndDate) HeaderText="EndDate" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeeProjectEntity.ReportingTo) HeaderText="ReportingTo" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>

            </GridColumns>
        </SfGrid>
    }

}