@page "/EmployeeReport"
<PageTitle>Employee Information - Employee Report</PageTitle>
@using Employee.DataModel.Models;
@using Employee_Report.Model.Models;
@using Employee_Report.Repository.Services;
@inject NavigationManager NavManager
@inject Microsoft.JSInterop.IJSRuntime JS
@inject AuthenticationStateProvider authStateProvider
@inject IHttpContextAccessor ContextAccessor;
@using System.IO;


<style>
    * {
        box-sizing: border-box;
    }

    h4 {
        text-align: center;
    }

    th {
        color: #7b7d81 !important;
    }

    p.solid {
        border-style: solid;
        color: deepskyblue;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: navy;
        color: white;
        text-align: center;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 420px;
    }

    .dividinggap {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between
    }

    .table-t, .table-l {
        width: 48%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    h2 {
        color: navy;
    }

    body {
        margin-top: 20px;
    }

    .card-style1 {
        box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
    }

    .border-0 {
        border: 0 !important;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    section {
        padding: 120px 0;
        overflow: hidden;
        background: #fff;
    }

    .mb-2-3, .my-2-3 {
        margin-bottom: 2.3rem;
    }

    .section-title {
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;
    }

    .text-primary {
        color: #ceaa4d !important;
    }

    .text-secondary {
        color: #15395A !important;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .display-26 {
        font-size: 1.3rem;
    }

    .p-1-9 {
        padding: 1.9rem;
        text-align: center;
    }

    .bg-secondary {
        background: #15395A !important;
    }

    .pe-1-9, .px-1-9 {
        padding-right: 1.9rem;
    }

    .ps-1-9, .px-1-9 {
        padding-left: 1.9rem;
    }

    .pb-1-9, .py-1-9 {
        padding-bottom: 1.9rem;
    }

    .pt-1-9, .py-1-9 {
        padding-top: 1.9rem;
    }

    .mb-1-9, .my-1-9 {
        margin-bottom: 1.9rem;
    }

    .rounded {
        border-radius: 0.25rem !important;
    }

    #exportpdf{
        margin-left: 80%;
        background-color: green;
    }
</style>
<h3 class="h2 text-black mb-0 rounded text-center">MOTIVITY LABS EMPLOYEE REPORT</h3>
<h3></h3>
<SfButton id="exportpdf" class="btn btn-primary" @onclick="@ExportToPdf">Export to PDF</SfButton>
<div style="float: left; flex-direction: column;">
    <div class="row">
        <div class="column" style="float: left;">
            <ul class="list-unstyled mb-1-9">
                <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Name:</span>
                </li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">MLID:</span>@_empid</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">SKills:</span>Dotnet Core,.NetMVC, C#,Asp.Net WebForms</li>
            </ul>

@*
            <p>
                            @(
                            ContextAccessor.HttpContext.Session.GetString("Name") != null ? ContextAccessor.HttpContext.Session.GetString("Name") : ""
                )@(
                               ContextAccessor.HttpContext.Session.GetString("EmployeeId") != null ? " (" + ContextAccessor.HttpContext.Session.GetString("EmployeeId") + ")" : ""
                                            )
                        </p>*@


            <div class="header-wrapper">
                <h4 style="width:48% ; color: navy;text-align: left;">Learnings</h4>
            </div>
            <SfGrid DataSource="@learningCompleteDetails" AllowPaging="false">
                <GridColumns>
                    <GridColumn Field=@nameof(Learning.Name) HeaderText="Name" Width="20%"></GridColumn>
                    <GridColumn Field=@nameof(Learning.Path) HeaderText="Path" Width="40%">
                        <Template>
                            @{
                                var learningList = (context as Learning);
                                <a target="_blank" href="@learningList.Path">@learningList.Path</a>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(Learning.HoursOfLearning) HeaderText="HoursSpent" TextAlign="TextAlign.Center" Width="20%"></GridColumn>
                    @*<GridColumn Field=@nameof(Learning.StartDate) HeaderText="StartDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="30%"> </GridColumn>*@
                    @*<GridColumn Field=@nameof(Learning.EndDate) HeaderText="EndDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="30%"></GridColumn>*@
                </GridColumns>
            </SfGrid>
        </div>
        <div class="column " style="float: right;">
            <SfAccumulationChart Title="Holistic Chart">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries Type="AccumulationType.Pie" DataSource="@ChartData" XName="Expertise" YName="ResourceCount" LegendShape="LegendShape.Diamond">
                        <AccumulationDataLabelSettings Visible="true" Name="Text">
                        </AccumulationDataLabelSettings>
                    </AccumulationChartSeries>
                    <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                    <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Top" Alignment="Alignment.Center"></AccumulationChartLegendSettings>
                </AccumulationChartSeriesCollection>
            </SfAccumulationChart>
        </div>
        <div class="row" style="margin-left:2px">
        </div>
        <div class="header-wrapper">
            <h2 style="width:48%;text-align: left;">Trainings</h2>
            <h2 style=" width:48%;text-align:left;">Projects</h2>
        </div>
        <div class="dividinggap">
            <div class="table-l">
                <SfGrid DataSource="@trainingDetails" AllowPaging="false">
                    <GridColumns>
                        <GridColumn Field=@nameof(Training.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(Training.HoursOfLearning) HeaderText="HoursSpent" TextAlign="TextAlign.Center" Width="20%"></GridColumn>
                        @*<GridColumn Field=@nameof(Training.StartDate) HeaderText="StartDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>*@
                        @*<GridColumn Field=@nameof(Training.EndDate) HeaderText="EndDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>*@
                    </GridColumns>
                </SfGrid>
            </div>
            <h1 style="text-align: right;"></h1>
            <div class="table-t">
                <SfGrid DataSource="@employeeproject" AllowPaging="false">
                    <GridColumns>
                        <GridColumn Field=@nameof(EmployeeProjectEntity.Name) HeaderText="Name" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeeProjectEntity.Role) HeaderText="Role" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeeProjectEntity.StartDate) HeaderText="Start Date" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%">
                        </GridColumn>
                        <GridColumn Field=@nameof(EmployeeProjectEntity.EndDate) HeaderText="End Date" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeeProjectEntity.ReportingTo) HeaderText="ReportingTo" Width="20%"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
        <div class="header-wrapper">
            <h2 style="width:48%;text-align: left;">ProofOfConcepts</h2>
            <h2 style=" width:48%;text-align:left;">Intellectual Properties</h2>
        </div>
        <div class="dividinggap">
            <div class="table-l">
                <SfGrid DataSource="@employeepoc" AllowPaging="false">
                    <GridColumns>
                        <GridColumn Field=@nameof(EmployeePOCEntity.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.Role) HeaderText="Role" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.StartDate) HeaderText="StartDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%">
                        </GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.EndDate) HeaderText="EndDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.ReportingTo) HeaderText="ReportingTo" Width="20%"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
            <br /><br />
            <h1 style="text-align: right;"></h1>
            <div class="table-t">
                <SfGrid DataSource="@employeepoc" AllowPaging="false">
                    <GridColumns>
                        <GridColumn Field=@nameof(EmployeePOCEntity.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.Role) HeaderText="Role" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.StartDate) HeaderText="StartDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%">
                        </GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.EndDate) HeaderText="EndDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                        <GridColumn Field=@nameof(EmployeePOCEntity.ReportingTo) HeaderText="ReportingTo" Width="20%"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
        <div class="header-wrapper">
            <h2 style="width:48%;text-align: left;">Certifications</h2>
            <h2 style=" width:48%;text-align:left;"></h2>
        </div>
        <div class="dividinggap">
            <div class="table-l">
                <SfGrid DataSource="@certificationslist" AllowPaging="false">
                    <GridColumns>
                        <GridColumn Field=@nameof(Certification.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(Certification.ValidFrom) HeaderText="ValidFrom" Format="dd/MM/yyyy" TextAlign="TextAlign.Center" Type="ColumnType.DateTime" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(Certification.ValidTill) HeaderText="ValidTo" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="150"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>

            <br /><br />
            <h1 style="text-align: right;"></h1>
            <div class="table-t">
            </div>
        </div>
        <div class="header-wrapper">
            <h2 style="width:48%;text-align: left;">Interview Details</h2>
            <h2 style=" width:48%;text-align:left;"></h2>
        </div>
        <p class="solid">
            <div style="display: flex; flex-direction: row;">
                <div style="flex: 2;  width: 50%;">
                    <SfAccumulationChart>
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartSeries Type="AccumulationType.Pie" DataSource="@ChartData" XName="Result" YName="ResultCount" LegendShape="LegendShape.Triangle">
                                <AccumulationDataLabelSettings Visible="true" Name="Text"></AccumulationDataLabelSettings>
                            </AccumulationChartSeries>
                            <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                            <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Bottom" Alignment="Alignment.Center"></AccumulationChartLegendSettings>
                        </AccumulationChartSeriesCollection>
                    </SfAccumulationChart>
                </div>
                <div style="flex: 2;width: 150px; height: 200px;">
                    <SfGrid DataSource="@interviewsDetails" AllowPaging="false">
                        <GridColumns>
                            <GridColumn Field=@nameof(Interview.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(Interview.Role) HeaderText="Role" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(Interview.Status) HeaderText="Status" Width="20%">
                            </GridColumn>
                            <GridColumn Field=@nameof(Interview.Date) HeaderText="Date" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(Interview.ReportingTo) HeaderText="ReportingTo" Width="20%"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </p>
        <div class="header-wrapper">
            <h2 style="width:48%;text-align: left;">Power House Details</h2>
            <h2 style=" width:48%;text-align:left;"></h2>
        </div>
        <p class="solid">
            <div style="display: flex; flex-direction: row;">
                <div style="flex: 2;  width: 50%; ">
                    <SfAccumulationChart>
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartSeries Type="AccumulationType.Pie" DataSource="@ChartData" XName="EATerm" YName="EAResult" LegendShape="LegendShape.Triangle">
                                <AccumulationDataLabelSettings Visible="true" Name="Text"></AccumulationDataLabelSettings>
                            </AccumulationChartSeries>
                            <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                            <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Bottom" Alignment="Alignment.Center"></AccumulationChartLegendSettings>
                        </AccumulationChartSeriesCollection>
                    </SfAccumulationChart>
                </div>
                <div style="flex: 2;width: 150px; height: 200px;">
                    <SfGrid DataSource="@powerHouseDetails" AllowPaging="false">
                        <GridColumns>
                            <GridColumn Field=@nameof(PowerHouse.RoleId) HeaderText="Role" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(PowerHouse.StartDate) HeaderText="StartDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(PowerHouse.EndDate) HeaderText="EndDate" Format="dd/MM/yyyy" Type="ColumnType.DateTime" Width="20%"></GridColumn>
                            <GridColumn Field=@nameof(PowerHouse.ReportingTo) HeaderText="ReportingTo" TextAlign="TextAlign.Right" Width="20%"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </p>
    </div>
</div>


