@page "/employeePocDetails"
@using Employee_Report.API.Entities;
@using Syncfusion.Blazor.Grids
@inject NavigationManager navManager;


@if (employeepoc == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Employee&nbsp;Poc</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddPOC" OnClick="AddClass">Add POC</SfButton>
        }
    </div>

    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@employeePocModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>POC</label>
                        <SfNumericTextBox CssClass="e-outline" Type="InputType.Text" class="form-control"
                                      @bind-Value="employeePocModel.Pocid" />
                        <ValidationMessage For="@(() => employeePocModel.Pocid)" />
                    </div>
                    <div class="col-md-6">
                        <label>Employee ID</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeePocModel.EmpId" />
                        <ValidationMessage For="@(() => employeePocModel.EmpId)" />
                    </div>
                    <div class="col-md-6">
                        <label>Bench Id</label>
                        <SfNumericTextBox CssClass="e-outline" Placeholder="BenchId" Type="InputType.Text" class="form-control"
                                      @bind-Value="employeePocModel.BenchId" />
                        <ValidationMessage For="@(() => employeePocModel.BenchId)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline">Start Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeePocModel.StartDate" />
                        <ValidationMessage For="@(() => employeePocModel.StartDate)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline">End Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeePocModel.EndDate" />
                        <ValidationMessage For="@(() => employeePocModel.EndDate)" />
                    </div>
                    <div class="col-md-6">
                        <label>Reporting To</label>
                        <SfTextBox CssClass="e-outline" Placeholder="ReportingTo" Type="InputType.Text" class="form-control" @bind-Value="employeePocModel.ReportingTo" />
                        <ValidationMessage For="@(() => employeePocModel.ReportingTo)" />
                    </div>
                    <div class="col-md-6">
                        <label>Role</label>
                        <SfNumericTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeePocModel.RoleId" />
                        <ValidationMessage For="@(() => employeePocModel.RoleId)" />
                    </div>
                </div>
                <div id="SfBtnsAddEmployeePOC">
                    <SfButton @onclick="@AddEmployeePOC" type="submit" class="btnAddEmployeePOC" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelEmployeePOC" type="submit" class="btnCancelEmployeePOC" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>
    @if (!IsHidden)
    {
        <SfGrid DataSource="@employeepoc">
            <GridColumns>
                <GridColumn Field=@nameof(EmployeePOCEntity.Name) HeaderText="Name" TextAlign="TextAlign.Center" Width="120">
                    <Template>
                        @{
                            var emp = (context as EmployeePOCEntity);
                            <a href="#" @onclick="Clicked">@emp.Name</a>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(EmployeePOCEntity.Role) HeaderText="Role" TextAlign="TextAlign.Center" Width="150">
                </GridColumn>
                <GridColumn Format="d" Field=@nameof(EmployeePOCEntity.StartDate) HeaderText="Start Date" TextAlign="TextAlign.Center" Width="130">
                </GridColumn>
                <GridColumn Format="d" Field=@nameof(EmployeePOCEntity.EndDate) HeaderText="End Date" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeePOCEntity.ReportingTo) HeaderText="ReportingTo" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>

            </GridColumns>
        </SfGrid>
    }
}