@page "/EmployeeSkills"
@inject NavigationManager navManager;

@if (employeeSkillDetails is null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Employee&nbsp;Skills</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddEmployeeSkill" OnClick="AddClass">Add Employee Skill</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@employeeSkillModel" OnValidSubmit="addEmployeeSkill">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">Employee ID</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeSkillModel.EmpId" />
                        <ValidationMessage For="@(() => employeeSkillModel.EmpId)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">SKill ID</label>
                        <SfNumericTextBox CssClass="e-outline" Type="InputType.Number" class="form-control" @bind-Value="employeeSkillModel.SkillId" />
                        <ValidationMessage For="@(() => employeeSkillModel.SkillId)" />
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">Start Date</label>
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="employeeSkillModel.StartDate" />
                        <ValidationMessage For="@(() => employeeSkillModel.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">End Date</label>
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="employeeSkillModel.EndDate" />
                        <ValidationMessage For="@(() => employeeSkillModel.EndDate)" />
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">Created By</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeSkillModel.CreatedBy" />
                        <ValidationMessage For="@(() => employeeSkillModel.CreatedBy)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">Created On</label>
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="employeeSkillModel.CreatedOn" />
                        <ValidationMessage For="@(() => employeeSkillModel.CreatedOn)" />
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">Modified By</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="employeeSkillModel.ModifiedBy" />
                        <ValidationMessage For="@(() => employeeSkillModel.ModifiedBy)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">Modified On</label>
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="employeeSkillModel.ModifiedOn" />
                        <ValidationMessage For="@(() => employeeSkillModel.ModifiedOn)" />
                    </div>
                </div>
                <div id="SfBtnsEmployeeSkills">
                    <SfButton @onclick="@AddClass" type="submit" class="btnAddEmployeeSkill" Content="Add"></SfButton>
                    <SfButton @onclick="@AddClass" type="submit" class="btnCancelEmployeeSkill" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@employeeSkillDetails">
            <GridColumns>
                <GridColumn Field="@nameof(employeeSkillModel.EmpId)" HeaderText="Employee ID" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.SkillId)" HeaderText="Skill ID" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.StartDate)" HeaderText="Start Date" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.EndDate)" HeaderText="End Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.CreatedBy)" HeaderText="Created By" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.CreatedOn)" HeaderText="Created On" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.ModifiedBy)" HeaderText="Modified By" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Field="@nameof(employeeSkillModel.ModifiedOn)" HeaderText="Modified On" TextAlign="TextAlign.Center" Width="150"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}