@page "/EmployeeSkills"
@inject NavigationManager navManager
@using Employee.DataModel.Models;
@using Employee_Report.API.Entities;
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Grids

@if (employeeSkills_SkillsDetails == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Employee&nbsp;Skills</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddEmployeeSkill" OnClick="AddClass">Add Employee Skill</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@EmployeeSkills_SkillsModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>Employee ID</label>
                        <SfTextBox Type="InputType.Text" class="form-control"
                               @bind-Value="EmployeeSkills_SkillsModel.EmpID" />
                        <ValidationMessage For="@(() => EmployeeSkills_SkillsModel.EmpID)" />
                    </div>
                    <div class="col-md-6">
                        <label>Skill Name</label>
                        <SfTextBox Type="InputType.Text" class="form-control"
                               @bind-Value="EmployeeSkills_SkillsModel.SkillName" />
                        <ValidationMessage For="@(() => EmployeeSkills_SkillsModel.SkillName)" />
                    </div>
                    <div class="col-md-6">
                        <label>Start Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="EmployeeSkills_SkillsModel.EndDate" />
                        <ValidationMessage For="@(() => EmployeeSkills_SkillsModel.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="EmployeeSkills_SkillsModel.EndDate" />
                        <ValidationMessage For="@(() => EmployeeSkills_SkillsModel.EndDate)" />
                    </div>
                </div>
                <div id="SfBtnsEmployeeSkills">
                    <SfButton @onclick="@AddEmployeeSkill" type="submit" class="btnAddEmployeeSkill" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelEmployeeSkill" type="submit" class="btnCancelEmployeeSkill" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@employeeSkills_SkillsDetails">
            <GridColumns>
                <GridColumn Field=@nameof(EmployeeSkills_SkillsModel.EmpID) HeaderText="Employee ID" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Field=@nameof(EmployeeSkills_SkillsModel.SkillName) HeaderText="Skill Name" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Format="d" Field=@nameof(EmployeeSkills_SkillsModel.StartDate) HeaderText="Start State" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Format="d" Field=@nameof(EmployeeSkills_SkillsModel.EndDate) HeaderText="End Date" TextAlign="TextAlign.Center"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}