@page "/role"
<PageTitle>Employee Information - Roles</PageTitle>
@inject NavigationManager navManager
@using Employee.DataModel.Models;
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Grids
@if (role == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Role</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddRole" OnClick="AddClass">Add Role</SfButton>
        }
    </div>

    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@roleModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>RoleName</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="roleModel.RoleName" />
                        <ValidationMessage For="@(() => roleModel.RoleName)" />
                    </div>
                </div>
                <div id="SfAddRoleBtns">
                    <SfButton @onclick="@AddRole" type="submit" class="btnAddRole" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelRole" type="submit" class="btnCancelRole" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@role">
            <GridColumns>
                <GridColumn Field=@nameof(Role.RoleName) HeaderText="Name" TextAlign="TextAlign.Center">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
}