@page "/intellectual"
<PageTitle>Employee Information - Employee POC</PageTitle>
@using Employee.DataModel.Models;
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Grids
@inject NavigationManager navManager;


@if (intellectualList == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Intellectual&nbsp;Property</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddIP" OnClick="AddClass">Add new IP</SfButton>
        }
    </div>

    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@intelleactualProperty">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox Type="InputType.Text" class="form-control"
                               @bind-Value="intelleactualProperty.Name" />
                        <ValidationMessage For="@(() => intelleactualProperty.Name)" />
                    </div>
                    <div class="col-md-6">
                        <label>Employee Id</label>
                        <SfTextBox Type="InputType.Text" class="form-control"
                               @bind-Value="intelleactualProperty.EmpId" />
                        <ValidationMessage For="@(() => intelleactualProperty.EmpId)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Start Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="intelleactualProperty.StartDate" />
                        <ValidationMessage For="@(() => intelleactualProperty.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="intelleactualProperty.EndDate" />
                        <ValidationMessage For="@(() => intelleactualProperty.EndDate)" />
                    </div>
                </div>
                <div class="col-md-6" style="width: 49%;">
                    <label>Role</label>
                    <SfDropDownList TValue="string" TItem="Role" Placeholder="Select a Role"
                                DataSource="@roleDetails">
                        <DropDownListFieldSettings Value="Id" Text="RoleName">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div id="SfIPBtns">
                    <SfButton class="btnAddIP" @onclick="@AddIP" type="submit" Content="Add"></SfButton>
                    <SfButton class="btnCancelIP" @onclick="@CancelIP" type="button" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>
    @if (!IsHidden)
    {
        <SfGrid DataSource="@intellectualList">
            <GridColumns>
                <GridColumn Field="@nameof(IntellectualProperty.Name)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(IntellectualProperty.EmpId)" HeaderText="Employee Id" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(IntellectualProperty.ReportingTo)" HeaderText="Reporting To" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(IntellectualProperty.RoleId)" HeaderText="Role Id" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(IntellectualProperty.StartDate)" HeaderText="Start Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(IntellectualProperty.EndDate)" HeaderText="End Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}