@page "/learnings"
@inject NavigationManager navManager

@if (learningDetails is null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Learning</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddSkill" OnClick="AddClass">Add Skill</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@learningModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="learningModel.Name" />
                        <ValidationMessage For="@(() => learningModel.Name)" />
                    </div>
                </div>
                <div id="SfAddSkillBtns">
                    <SfButton @onclick="@AddLearning" type="submit" id="btnAddSkill" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelLearnings" type="submit" id="btnCancelSkill" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@learningDetails">
            <GridColumns>
                <GridColumn Field="@nameof(learningModel.Name)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}
