@page "/power-house"
<PageTitle>Employee Information - PowerHouse</PageTitle>
@using Employee.DataModel.Models;
@using Employee_Report.Model.Models
@inject NavigationManager navManager;

@if (powerHouse_RolesDeatils == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h5>Power&nbsp;House</h5>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddPowerHouse" OnClick="AddPowerHouseRole">Add new PowerHouse</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@PowerHouse_RoleModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <SfTextBox CssClass="e-outline custom-size" Placeholder="Employee Id" FloatLabelType="@FloatLabelType.Auto" Type="InputType.Text" class="form-control"
                               @bind-Value="PowerHouse_RoleModel.EmpId" />
                        <ValidationMessage For="@(() => PowerHouse_RoleModel.EmpId)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">Role</label>
                        <InputSelect class="form-control" @bind-Value=@PowerHouse_RoleModel.RoleName>
                            <option selected value="">Please Select</option>
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                            <option value="Team Lead</">Team Lead</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => PowerHouse_RoleModel.RoleName)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">StartDate</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="PowerHouse_RoleModel.StartDate" />
                        <ValidationMessage For="@(() => PowerHouse_RoleModel.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline-date">EndDate</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="PowerHouse_RoleModel.EndDate" />
                        <ValidationMessage For="@(() => PowerHouse_RoleModel.EndDate)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <SfTextBox CssClass="e-outline custom-size" Placeholder="ReportingTo" FloatLabelType="@FloatLabelType.Auto" Type="InputType.Text" class="form-control"
                               @bind-Value="PowerHouse_RoleModel.ReportingTo" />
                        <ValidationMessage For="@(() => PowerHouse_RoleModel.ReportingTo)" />
                    </div>
                </div>
                <div id="SfAddPowerHouseBtns">
                    <SfButton @onclick="@AddPowerHouseRole" type="submit" class="btnAddPowerHouse" Content="Add"></SfButton>
                    <SfButton @onclick="@CanacPowerHouseRole" type="button" class="btnCancelPowerHouse" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>
    <div style="margin-top:4px;">
    @if (!IsHidden)
    {
            <SfGrid DataSource="@powerHouse_RolesDeatils">
            <GridColumns>
                <GridColumn Field="@nameof(PowerHouse_RoleModel.EmpId)" HeaderText="EmpID" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(PowerHouse_RoleModel.StartDate)" HeaderText="Start Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Format="d" Type="ColumnType.Date" Field="@nameof(PowerHouse_RoleModel.EndDate)" HeaderText="End Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
    </div>
}