@page "/projects"
@inject NavigationManager navManager
@using Employee.DataModel.Models;
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Grids

@if (projects == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Projects</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddProjects" OnClick="AddClass">Add Project</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@projectModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="projectModel.ProjectName" />
                        <ValidationMessage For="@(() => projectModel.ProjectName)" />
                    </div>
                </div>
                <div id="SfAddProjectBtns">
                    <SfButton @onclick="@AddProject" type="submit" class="btnAddProject" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelProject" type="submit" class="btnCancelProject" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@projects">
            <GridColumns>
                <GridColumn Field=@nameof(Project.ProjectName) HeaderText="Name" TextAlign="TextAlign.Center">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
}