@page "/skills"
@using Employee_Report.Model.Models
@inject NavigationManager navManager;

@*@if (skillsDetails is null)*@
@if (skills == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Skills</h3>
       @* @if (!IsHidden)
        {
            <SfButton id="sfBtnAddInterview" OnClick="AddClass">Add Skill</SfButton>
        }*@
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@skills" OnValidSubmit="addSkill">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label Class="e-outline-date">Name</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="skillsModel.SkillName" />
                        <ValidationMessage For="@(() => skillsModel.SkillName)" />
                    </div>
                </div>
                <div id="SfSkillsBtns">
                    <SfButton @onclick="@AddClass" type="submit" class="btnAdd" Content="Add"></SfButton>
                    <SfButton @onclick="@AddClass" type="submit" class="btnCancel" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        @*<SfGrid DataSource="@skills">
            <GridColumns>
                <GridColumn Field="@nameof(skills)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
            </GridColumns>
        </SfGrid>*@
        <div id="btnAddskill">
        <SfTextBox Type="InputType.Text" class="form-control"  @bind-Value="skills" Readonly />
            @if (!IsHidden)
            {
                <SfButton id="sfBtnAddSkill" OnClick="AddClass">Add Skill</SfButton>
            }
        </div>
    }
}