@page "/skills"
<PageTitle>Employee Information - Skills</PageTitle>
@using Employee_Report.Model.Models
@inject NavigationManager navManager;

@if (skillDetails is null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Skills</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddSkill" OnClick="AddClass">Add Skill</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@skillModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="skillModel.SkillName" />
                        <ValidationMessage For="@(() => skillModel.SkillName)" />
                    </div>
                </div>
                <div id="SfAddSkillBtns">
                    <SfButton @onclick="@AddSkill" type="submit" id="btnAddSkill" Content="Add"></SfButton>
                    <SfButton @onclick="@cancelSkill" type="submit" id="btnCancelSkill" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@skillDetails">
            <GridColumns>
                <GridColumn Field="@nameof(skillModel.SkillName)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}
