@page "/trainings"
@inject NavigationManager navManager;



@if (trainingDetails is null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Trainings</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddTraining" OnClick="AddClass">Add Training</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@trainingModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox Type="InputType.Text" class="form-control" @bind-Value="trainingModel.Name" />
                        <ValidationMessage For="@(() => trainingModel.Name)" />
                    </div>
                </div>
                <div id="SfAddSkillBtns">
                    <SfButton @onclick="@AddTraining" type="submit" class="btnAddTraining" Content="Add"></SfButton>
                    <SfButton @onclick="@cancelTraining" type="submit" class="btnCancelTraining" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@trainingDetails">
            <GridColumns>
                <GridColumn Field="@nameof(trainingModel.Name)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}
