@page "/interviews"
<PageTitle>Employee Information - Interviews</PageTitle>
@using Employee_Report.Model.Models
@using global::Employee.DataModel.Models;
@inject NavigationManager navManager;

@if (interviewsDetails is null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3>Interviews</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddInterview" OnClick="AddClass">Add Interview</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@InterviewModel">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Name</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="InterviewModel.Name" />
                        <ValidationMessage For="@(() => InterviewModel.Name)" />
                    </div>

                    <div class="col-md-6">
                        <label>Skills</label>
                        <SfDropDownList TValue="string" TItem="Skill" Placeholder="Select a Skill"
                                    DataSource="@skillDetails">
                            <DropDownListFieldSettings Value="Id" Text="SkillName">
                            </DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Role</label>
                        <SfDropDownList TValue="string" TItem="Role" Placeholder="Select a Role"
                                    DataSource="@roleDetails">
                            <DropDownListFieldSettings Value="Id" Text="RoleName">
                            </DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>

                    <div class="col-md-6">
                        <label Class="e-outline-date">Status</label>
                        <InputSelect class="form-control" @bind-Value=@InterviewModel.Status>
                            <option selected value="">Select Status</option>
                            <option value="Selected">Selected</option>
                            <option value="Rejected">Rejected</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => InterviewModel.Status)" />
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="InterviewModel.Date" />
                        <ValidationMessage For="@(() => InterviewModel.Date)" />
                    </div>
                    <div class="col-md-6">
                        <label>Reporting To</label>
                        <SfTextBox CssClass="e-outline" Type="InputType.Text" class="form-control" @bind-Value="InterviewModel.ReportingTo" />
                        <ValidationMessage For="@(() => InterviewModel.ReportingTo)" />
                    </div>
                </div>
                <div id="SfInterviewBtns">
                    <SfButton @onclick="@AddInterview" type="submit" class="btnAddInterview" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelInterview" type="submit" class="btnCancelInterview" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>

    @if (!IsHidden)
    {
        <SfGrid DataSource="@interviewsDetails">
            <GridColumns>
                <GridColumn Field="@nameof(InterviewModel.Name)" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(InterviewModel.Skill)" HeaderText="Skill" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(InterviewModel.Role)" HeaderText="Role" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field="@nameof(InterviewModel.Status)" HeaderText="Status" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Format="d" Field="@nameof(InterviewModel.Date)" HeaderText="Date" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                <GridColumn Field="@nameof(InterviewModel.ReportingTo)" HeaderText="Repoting To" TextAlign="TextAlign.Center" Width="150"></GridColumn>
            </GridColumns>
        </SfGrid>
    }
}