@page "/employeeLearnings"
@using Employee_Report.Model.ModelView;
<PageTitle>Employee Information - Employee Details</PageTitle>
@inject NavigationManager navManager;
@using Syncfusion.Blazor.DropDowns

@if (employeeLearning == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Employee&nbsp;Learnings</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddLearning" OnClick="AddClass">Add Employee Learning</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@employeeLearning" OnSubmit="@AddEmployeeLearning">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <InputText type="hidden" class="form-control" @bind-Value="employeeLearningData.EmpId" />
                        <label>Learning Name</label>
                        <InputSelect class="form-control form-select" @bind-Value=@employeeLearningData.LearningId>
                        
                            @foreach (var display in learninglist)
                            {
                                <option value=@display.Id>@display.Name</option>
                            }
                        
                        </InputSelect>
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline">Start Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeeLearningData.StartDate" />
                        <ValidationMessage For="@(() => employeeLearningData.StartDate)" />
                    </div>
                    <div class="col-md-6">
                        <label Class="e-outline">End Date</label>
                        <InputDate Type="InputDateType.Date" ShowClearButton="true" format-value="yyyy-MM-dd" class="form-control"
                               @bind-Value="employeeLearningData.EndDate" />
                        <ValidationMessage For="@(() => employeeLearningData.EndDate)" />
                    </div>
                </div>
                <div id="SfBtnsAddEmployeeLearnings">
                    <SfButton type="submit" class="btnAdd" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelProject" type="submit" class="btnCancel" Content="Cancel"></SfButton>
                </div>

            </div>
        </EditForm>
    </div>
    @if (!IsHidden)
    {
        <SfGrid DataSource="@employeeLearning">
            <GridColumns>
                <GridColumn Field=@nameof(EmployeeLearningView.LearningName) HeaderText="Learning Name" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeeLearningView.LearningPath) HeaderText="Learning Path" TextAlign="TextAlign.Center" Width="120">
                    </GridColumn>
                    <GridColumn Format="d" Field=@nameof(EmployeeLearningView.StartDate) HeaderText="Start Date" TextAlign="TextAlign.Center" Width="130">
                </GridColumn>
                    <GridColumn Format="d" Field=@nameof(EmployeeLearningView.EndDate) HeaderText="End Date" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(EmployeeLearningView.Duration) HeaderText="Duration (Days)" TextAlign="TextAlign.Center" Width="120">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
}