@page "/EmployeeSkills"
<PageTitle>Employee Information - Employee Skills</PageTitle>
@inject NavigationManager navManager
@using Employee_Report.Model.Models;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.DropDowns
@using global::Employee.DataModel.Models;

@if (employeeSkills_SkillsDetails == null)
{
    <p><em>Loading your data... Please wait..</em></p>
}
else
{
    <div id="divHeader">
        <h3 style="text-align:center">Employee&nbsp;Skills</h3>
        @if (!IsHidden)
        {
            <SfButton id="sfBtnAddEmployeeSkill" OnClick="AddClass">Add Employee Skill</SfButton>
        }
    </div>
    <div class="@(IsHidden ? "show" : "hidden")">
        <EditForm Model="@employeeSkills">
            <DataAnnotationsValidator />
            <div class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>Employee Id</label>
                        <SfNumericTextBox Type="InputType.Text" class="form-control"
                                      @bind-Value="employeeSkills.EmpId" />
                        <ValidationMessage For="@(() => employeeSkills.EmpId)" />
                    </div>
                    <div class="col-md-6">
                        <label>Skill Name</label>
                        <SfDropDownList TValue="string" TItem="Skill" Placeholder="Select Skill"
                                    DataSource="@skillDetails">
                            <DropDownListFieldSettings Value="Id" Text="SkillName">
                            </DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div id="SfBtnsEmployeeSkills">
                    <SfButton @onclick="@AddEmployeeSkill" type="submit" class="btnAddEmployeeSkill" Content="Add"></SfButton>
                    <SfButton @onclick="@CancelEmployeeSkill" type="submit" class="btnCancelEmployeeSkill" Content="Cancel"></SfButton>
                </div>
            </div>
        </EditForm>
    </div>
    <div style="margin-top:4px">
        @if (!IsHidden)
        {
            <SfGrid DataSource="@employeeSkills_SkillsDetails">
                <GridColumns>
                    <GridColumn Field=@nameof(EmployeeSkills_SkillsModel.EmpID) HeaderText="Employee Id" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(EmployeeSkills_SkillsModel.SkillName) HeaderText="Skill Name" TextAlign="TextAlign.Center"></GridColumn>
                </GridColumns>
            </SfGrid>
        }
    </div>
}