@page "/trainings"
<PageTitle>Employee Information</PageTitle>
@using Syncfusion.Blazor.Buttons
@inject NavigationManager navManager

<div hidden=@HideLearningControls>
    <h1>Add Training Details</h1>
    <div class="row">
        <div class="col-md-6 mt-2">
            <SfTextBox @bind-Value="training.Name" class="form-control" Placeholder="Enter Training Technology Name"></SfTextBox>
        </div>
        <div class="col-md-6 mt-2">
            <SfNumericTextBox @bind-Value="training.HoursOfLearning" class="form-control" Placeholder="Enter Training Hours"></SfNumericTextBox>
        </div>
    </div>
    <div style="margin-top:10px;" id="trainingpostBtnCenter" class="row">
        <div class="col-md-1">
            <SfButton OnClick="PostTrainingDetails" id="trainingpostID" Content="Create"></SfButton>
        </div>
        <div class="col-md-1" style="width:78%">
            <SfButton OnClick="ClearPostTrainingDetails" id="clearPostTraining" Content="Cancel"></SfButton>
        </div>
    </div>
</div>

<div class="col-md-3" id="sfTrainingID" hidden="@HideAdd">
    <h2 style="margin-top: 7px;">Training&nbsp;Details</h2>
    <SfButton OnClick="AddTraining" id="sfAddBtnTrainingID" style="background-color:dodgerblue;" Content="Add Traning"></SfButton>
</div>
<div class="mt-2">
    @if (TraningList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <SfGrid TItem="EmployeeModel" hidden="@HideGrid" DataSource="@TraningList">
            <GridColumns>
                <GridColumn Field="@nameof(training.Name)" HeaderText="Name" TextAlign="TextAlign.Left" Width="100"></GridColumn>
                <GridColumn Field="@nameof(training.HoursOfLearning)" HeaderText="Learning Hours" TextAlign="TextAlign.Center" Width="100">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
</div>
